// Styling for the download section
section.contact {
    
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;    
    background: grey;
    color: #fff;    

    .section-content {
        text-align: center;
    }
    .contact-section {
        text-align: left;
        padding-top: 40px;
    }
    .contact-section .col-md-6 {
        width: 50%;
    }

    .form-line {
        border-right: 1px solid #b29999;
    }

    .form-group {
        margin-top: 10px;
    }
    label {
        font-size: 1.3em;
        line-height: 1em;
        font-weight: normal;
    }
    .form-control {
        font-size: 1.3em;
        color: #080808;
    }
    textarea.form-control {
        height: 135px;
        /* margin-top: px;*/
    }

    .submit {
        font-size: 1.1em;        
        width: 150px;
        background-color: transparent;
        color: #fff;
    }
      
}
