// Styling for the download section
section.contact {    
    position: relative;
    padding: 10% 5%;
    height: 100%;
    width: 100%;
    min-height: 25rem;
    overflow: hidden;
    padding-top: 60px;    
    background: rgb(185, 185, 185);
    color: #fff;    
  
    .conteiner {
        margin-top:54px;
    }

    .section-content {
        text-align: center;
    }
    .contact-section {
        text-align: left;        
    }
   // .contact-section .col-md-6 {
   //     width: 50%;
   // }

    .form-line {
        border-right: 1px solid #b29999;
    }

    .form-group {
        margin-top: 10px;
    }
    
    textarea.form-control {
        height: 135px;        
        /* margin-top: px;*/
    }

    .submit {
        font-size: auto;        
        width: auto;
        background-color: transparent;
        color: #fff;
    }

    @media (max-width: 650px) {
        .section-content h1{
            font-size: 2rem;

        }
        margin-top: 225px;       
        .form-control {
            font-size: 10px;
            color: #080808;
        }
                
    }

    @media (min-width: 100px) {
        .section-header.h1{
            font-size: 1rem;
        }
        .h1 {
            font-size: 10px;
        }
       .form-line {
            border-right: 0px;
       }
       .col-md-6 {
           width: 100%;
          
       }

    }   
      
}
