// Styling for the download section
section.howto {    
    position: relative;
    padding: 10% 10%;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;

    h2 {
        font-size: 50px;        
    }

}
