// Styling for the masthead
header {
    position: relative;    
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
   
header.masthead {
    position: relative;
    width: 100%;
    padding-top: 25%;    
    color: white;
    background: $theme-secondary;
    background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: linear-gradient(to left, $theme-secondary, $theme-tertiary);

    //background: url('../img/bg-pattern.png'), $theme-secondary;
    //background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    //background: url('../img/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);

    .header-content {
        max-width: 500px;
        margin-bottom: 100px;

        text-align: center;
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .device-container {
        max-width: 500px;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        .screen img {
            border-radius: 3px;
        }
    }
    @media (min-width: 992px) {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 50px;
            }
            h2 {
                font-size: 40px;
            }
        }
        .device-container {
            max-width: 500px;
        }
    }   

    @media (max-width: 650px) {
        .header-content {
            margin-bottom: 0;
            text-align: left;
            h1 {
                font-size: 25px;
            }
            h2 {
                font-size: 18px;
            }
        }
        .device-container {            
            display:none
        }
    }   

}