// Styling for the masthead
header {
    position: relative;    
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
   
header.masthead {    
    position: relative;
    
    color: white;
    background: $theme-secondary;
    background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: linear-gradient(to left, $theme-secondary, $theme-tertiary);

    background: url('../img/bg-pattern3.png'), $theme-secondary;
    background: url('../img/bg-pattern3.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: url('../img/bg-pattern3.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);

    .header-content {
        margin-top: 5rem;
        text-align: left;       
    }    
    @media (max-width: 330px) {      
        .header-content {
            margin-bottom: 0;               
            text-align: left;
            h1 {
                font-size: 28px;
            }
            h2 {
                font-size: 18px;
            }
        }
        .video-content {
            margin-top: 0px;           
            text-align: center;
        }
        
    }      
    
    @media (min-width: 350px) {      
        .header-content {
            margin-bottom: 0;               
            text-align: left;
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 18px;
            }
        }
        .video-content {
            margin-top: 0px;
            text-align: center;    
        }
        
    } 
    
    @media (min-width: 700px) {
      .header-content {
            margin-top: 5%;  
            margin-bottom: 0;          
            text-align: left;
            h1 {
                font-size: 55px;                
            }
            h2 {
                font-size: 32px;
            }
        }       
        .video-content {
            margin-top: 5%;         
            text-align: left;
        }
    }   

}